<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- three curly braces are rendered as html -->
        {{{ body }}}
    </body>
</html>
